extends layout

block content
    //-
        p= title

    img(src='/images/leaf-256-green.png', class='logoImage')
    br
    a(href='/registration', class='indexAnchor jGreen') Registration
    br

    script(src="/javascripts/jquery-1.9.1.js")
    script(src="/javascripts/underscore.js")
    script(src="/javascripts/backbone.js")
    script(src='/javascripts/chat.js')
    script(src="/javascripts/socket.io-client/socket.io.js")
    script.
        (function($) {
            $.chat.host = '#{host}';
            $.chat.bootstrap();
        })(jQuery);

