//
   Created by jaric on 09.08.2014.

extends layout
block content

    a(href='/', class='indexAnchor jGreen') Main
    br

    script(src="/javascripts/jquery-1.9.1.js")
    script(src="/javascripts/underscore.js")
    script(src="/javascripts/backbone.js")
    script(src='/javascripts/registration.js')
    script.
        (function($) {
            $.registration.bootstrap();
        })(jQuery);
